<h1>Bonjour <%= @user.email %>! </h1>

<p>
  Bienvenue sur notre site de réservation de propriétés! Nous sommes ravis de vous accueillir parmi nous.
  Vous pouvez dès à présent explorer nos propriétés et effectuer des réservations en ligne.
  Si vous avez des questions ou besoin d'aide, n'hésitez pas à nous contacter.
  Nous sommes là pour vous aider!
</p>
