<<h1>Bonjour <%= @user.email %> !</h1>

<p>Bienvenue sur Family Loc !</p>

<p>Vous pouvez dès à présent effectuer des demandes de réservation en ligne.</p>

<p>Lorsqu'une demande est effectuée, vous recevrez un premier e-mail confirmant les dates choisies.</p>
<p>Un second e-mail vous sera envoyé une fois la réservation confirmée.</p>

<p>Nous vous souhaitons une agréable expérience sur notre site.</p>
<p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
<p>À bientôt !</p>


******************************************************************************

<p>Merci d’utiliser Family Loc !</p>
