// Specific CSS for your home-page
.btn-home {
  background-color:gold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bolder;
}
 h1 {
  font-family: "Ribeye", serif;
  font-weight: 400;
  font-style: normal;
  color: #f5f5f5;
  font-size: 80px;
 }

 .btn-home:hover {
  color: gold
 }
