<ul class="nav">
  <li class="nav-item">
    <%= link_to "Accueil", root_path, class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Propriétés", proprietes_path, class:"nav-link text-dark"  %>
  <li class="nav-item">
    <%= link_to"Mes réservations", reservations_path, class:"nav-link text-dark" %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
