<div class="container">
  <div class="row">
    <div class="col">
      <% @proprietes.each do |p| %>
        <%= p.nom %>
        <%= p.adresse %>
        <hr>
        
      <% end %>

    </div>
  </div>
</div>
