<div class="container mt-5" data-controller="toggle">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-8 mx-auto">
      <div class="card-trip">
        <%= image_tag "Hendaye.jpg"%>
        <div class="card-trip-infos">
          <div>
            <h2> <% @propriete.nom %></h2>
            <p><%= @propriete.adresse %></p>
          </div>
          <button data-action="click->toggle#fire" class="btn btn-outline-primary"> Reserver</button>
        </div>
      </div>
      <div data-toggle-target="togglableElement" class="d-none mt-5"><%= render "reservations/form", propriete: @propriete, reservation: @reservation %></div>
    </div>
  </div>
</div>
