
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path 'family.jpg' %>')">
    <div class="text-center">
      <h1 class="text-white">Bienvenue sur notre site de réservation</h1>
    <%= link_to "Faire une réservation", proprietes_path, class:"btn-home" %>
    </div>

</div>
