<p>Une demande de reservation a été faite par :
<p><%= @reservation.user.email %></p>
<p>pour: <%= @reservation.propriete.nom %></p>
<p>du <%= @reservation.date_debut %> au <%=@reservation.date_fin%> </p>
