<p>Bonjour <%= @user.nom_complet %> !</p>

<p>Le statut de votre demande de réservation pour la propriété "<%= @propriete.nom %>" a été mis à jour.</p>

<p><strong>Nouveau statut : <%= @reservation.statut %></strong></p>


<%= image_tag "https://www.family-loc.store/images/logo.png", alt: "Logo Family Loc" %>


<p>Merci d’utiliser Family Loc !</p>
<p>https://www.family-loc.store/</p>
