<p>Bonjour <%= @user.email %> !</p>

<p>Le statut de votre demande de réservation pour la propriété "<%= @propriete.nom %>" a été mis à jour.</p>

<p><strong>Nouveau statut : <%= @reservation.statut %></strong></p>


<%= image_tag asset_url("logo.png"), alt: "logo" %>

<p>Merci d’utiliser Family Loc !</p>
<p>https://www.family-loc.store/</p>
