<p>Bonjour <%= @user.email %> !</p>

<p>Le statut de votre demande de réservation pour la propriété "<%= @propriete.nom %>" a été mis à jour.</p>

<p><strong>Nouveau statut :</strong> <%= @reservation.statut %></p>


************************************

<p>Merci d’utiliser Family Loc !</p>
<p>https://www.family-loc.store/</p>
