.hover-shadow {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.hover-shadow:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

#icons img {
  height:50px;
  width: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  object-fit: cover;
  color: gold ;
}

.card-body {
  // background-color: #FFF8DE;
   border-radius: 8px;
}

.card {
  border-radius: 8px;
}

#user_nom {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-select.is-valid {
  border-color: gold !important;
}

#user_nom {
  font-size: 20px;
}
