.hover-shadow {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.hover-shadow:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

#icons img {
  height:50px;
  width: 50px;
  margin-top: 60px;
  object-fit: cover;
}

.card-body {
  //  background-color: #BDDDE4;
   border-radius: 8px;
}

.card {
  border-radius: 8px;
}
