.container-navbar ul {
  background-color: #f5f5f5;
//  background-color: #FFEFD6 ;
  margin-bottom: 0;
  padding: 30px 40px;
}
#navbar {
  // background-color: #f5f5f5;

}
.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.dropdown-toggle {
  border: none;
}
#navbarDropdown {
   color: #C0C1C2;
  }

  #navbarDropdown:hover {
   color: black;
  }
@media (max-width: 725px) {
  .tabs-underlined li {
    text-align: center;
    padding:0px;
    margin: 0px;
    font-size: 12px
  }

  .tab-underlined {
    display: inline-block;      /* ou block si tu veux tout centrer */
    white-space: normal;        /* autorise les retours à la ligne */
    word-break: normal;         /* ne casse pas les mots */
    overflow-wrap: break-word;  /* coupe uniquement entre les mots */
    text-align: center;
  }

  #navbarDropdown {
   display: inline-block;      /* ou block si tu veux tout centrer */
    white-space: normal;        /* autorise les retours à la ligne */
    word-break: normal;         /* ne casse pas les mots */
    overflow-wrap: break-word;  /* coupe uniquement entre les mots */
    text-align: center;
    font-size: 11px;
    margin-top: 5px;
  }
}

